*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif; }

editor {
  display: block;
  position: absolute;
  left: 60px;
  right: 300px;
  top: 60px;
  bottom: 0;
  overflow: scroll;
  background-color: #fff;
  -webkit-box-shadow: inset rgba(155, 155, 155, 0.2) 0 0 5px 3px;
  -moz-box-shadow: inset rgba(155, 155, 155, 0.2) 0 0 5px 3px;
  box-shadow: inset rgba(155, 155, 155, 0.2) 0 0 5px 3px; }
  editor > table {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto; }
    editor > table .placeholder {
      color: transparent;
      text-align: center;
      height: 20px;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    editor > table > tbody > tr > td {
      position: relative; }
      editor > table > tbody > tr > td:hover > .remove {
        cursor: pointer;
        height: 32px;
        width: 32px;
        right: -32px;
        top: 0px;
        position: absolute;
        background-image: url(../../editor/icons/remove.png); }
        :root editor > table > tbody > tr > td:hover > .remove {
          background-image: url(../../editor/icons/remove.svg); }
    editor > table td.hover {
      border-bottom: 2px solid #f00; }
  editor.p150 > table {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5); }

td .slot {
  text-align: inherit; }
  td .slot:empty {
    text-align: center;
    height: 100px;
    border: 1px solid #999;
    cursor: text; }
    td .slot:empty:hover {
      z-index: 1;
      position: relative;
      -webkit-box-shadow: #51cbee 0 0 5px 3px;
      -moz-box-shadow: #51cbee 0 0 5px 3px;
      box-shadow: #51cbee 0 0 5px 3px; }
    td .slot:empty:after {
      content: attr(data-empty);
      line-height: 100px;
      font-size: 20px; }
  td .slot.hover {
    z-index: 1;
    position: relative;
    cursor: default;
    border: 2px dashed #0c0; }
    td .slot.hover img {
      max-width: 100%; }

td .slot[data-slot="textarea"] > :hover, td .slot[data-slot="textarea"] > :focus {
  -webkit-box-shadow: #51cbee 0 0 5px 3px;
  -moz-box-shadow: #51cbee 0 0 5px 3px;
  box-shadow: #51cbee 0 0 5px 3px; }

td .slot[data-slot="image"] {
  position: relative; }
  td .slot[data-slot="image"]:hover .remove {
    cursor: pointer;
    height: 32px;
    width: 32px;
    right: 10px;
    top: 10px;
    position: absolute;
    background-image: url(../../editor/icons/remove.png); }
    :root td .slot[data-slot="image"]:hover .remove {
      background-image: url(../../editor/icons/remove.svg); }

draggable {
  display: block;
  z-index: 100; }
  draggable img {
    max-width: 600px; }

filemanager {
  position: absolute;
  display: block;
  width: 300px;
  right: 0;
  top: 50%;
  padding: 20px;
  bottom: 0;
  background-color: #eee; }
  filemanager .title {
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    margin-bottom: 10px; }
  filemanager .files {
    padding: 10px 20px;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    overflow-y: auto;
    bottom: 80px; }
    filemanager .files > .file {
      cursor: -webkit-grab;
      cursor: grab;
      margin-bottom: 20px;
      position: relative; }
      filemanager .files > .file .file-icon {
        float: left;
        width: 60px;
        height: 60px;
        position: relative;
        background-color: #FFBC36; }
        filemanager .files > .file .file-icon[data-filetype="pdf"],
        filemanager .files > .file .file-icon[data-filetype="pdf"] div:before {
          background-color: #FF3636; }
        filemanager .files > .file .file-icon[data-filetype="doc"],
        filemanager .files > .file .file-icon[data-filetype="doc"] div:before {
          background-color: #368AFF; }
        filemanager .files > .file .file-icon[data-filetype="docx"],
        filemanager .files > .file .file-icon[data-filetype="docx"] div:before {
          background-color: #368AFF; }
        filemanager .files > .file .file-icon[data-filetype="xls"],
        filemanager .files > .file .file-icon[data-filetype="xls"] div:before {
          background-color: #2C9D21; }
        filemanager .files > .file .file-icon[data-filetype="csv"],
        filemanager .files > .file .file-icon[data-filetype="csv"] div:before {
          background-color: #2C9D21; }
        filemanager .files > .file .file-icon[data-filetype="xlsx"],
        filemanager .files > .file .file-icon[data-filetype="xlsx"] div:before {
          background-color: #2C9D21; }
        filemanager .files > .file .file-icon[data-filetype="ppt"],
        filemanager .files > .file .file-icon[data-filetype="ppt"] div:before {
          background-color: #9D2121; }
        filemanager .files > .file .file-icon[data-filetype="pptx"],
        filemanager .files > .file .file-icon[data-filetype="pptx"] div:before {
          background-color: #9D2121; }
        filemanager .files > .file .file-icon[data-filetype="mp3"],
        filemanager .files > .file .file-icon[data-filetype="mp3"] div:before {
          background-color: #21729D; }
        filemanager .files > .file .file-icon[data-filetype="wav"],
        filemanager .files > .file .file-icon[data-filetype="wav"] div:before {
          background-color: #21729D; }
        filemanager .files > .file .file-icon[data-filetype="ogg"],
        filemanager .files > .file .file-icon[data-filetype="ogg"] div:before {
          background-color: #21729D; }
        filemanager .files > .file .file-icon[data-filetype="flac"],
        filemanager .files > .file .file-icon[data-filetype="flac"] div:before {
          background-color: #21729D; }
        filemanager .files > .file .file-icon[data-filetype="m4a"],
        filemanager .files > .file .file-icon[data-filetype="m4a"] div:before {
          background-color: #21729D; }
        filemanager .files > .file .file-icon[data-filetype="mp4"],
        filemanager .files > .file .file-icon[data-filetype="mp4"] div:before {
          background-color: #9736FF; }
        filemanager .files > .file .file-icon[data-filetype="wmv"],
        filemanager .files > .file .file-icon[data-filetype="wmv"] div:before {
          background-color: #9736FF; }
        filemanager .files > .file .file-icon[data-filetype="mov"],
        filemanager .files > .file .file-icon[data-filetype="mov"] div:before {
          background-color: #9736FF; }
        filemanager .files > .file .file-icon[data-filetype="avi"],
        filemanager .files > .file .file-icon[data-filetype="avi"] div:before {
          background-color: #9736FF; }
        filemanager .files > .file .file-icon[data-filetype="mkv"],
        filemanager .files > .file .file-icon[data-filetype="mkv"] div:before {
          background-color: #9736FF; }
        filemanager .files > .file .file-icon div {
          margin: 0 auto;
          top: 8px;
          position: relative;
          height: 40px;
          width: 30px;
          border: 2px solid #fff;
          color: #fff;
          font-size: 8px;
          font-weight: bold;
          text-transform: uppercase;
          line-height: 50px;
          text-align: center; }
          filemanager .files > .file .file-icon div:before {
            position: absolute;
            top: -5px;
            right: -5px;
            background-color: #FFBC36;
            content: '';
            width: 10px;
            height: 10px; }
          filemanager .files > .file .file-icon div:after {
            content: '';
            position: absolute;
            top: -2px;
            right: -2px;
            border: 4px solid transparent;
            border-bottom: 4px solid #fff;
            border-left: 4px solid #fff;
            width: 0; }
      filemanager .files > .file .image {
        float: left;
        width: 60px;
        height: 60px;
        overflow: hidden;
        position: relative; }
        filemanager .files > .file .image.portrait {
          width: 100%;
          height: auto; }
        filemanager .files > .file .image img {
          position: absolute;
          left: 50%;
          top: 50%;
          width: auto;
          height: 100%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
      filemanager .files > .file .file-info {
        float: left;
        width: 140px;
        margin-left: 10px;
        padding-top: 10px; }
        filemanager .files > .file .file-info [data-name="name"] {
          overflow: hidden;
          display: inline-block;
          width: 100%;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 12px; }
        filemanager .files > .file .file-info [data-name="size"] {
          font-size: 10px; }
      filemanager .files > .file .file-actions {
        cursor: pointer;
        position: absolute;
        right: 0px;
        top: 12px;
        font-size: 20px; }
      filemanager .files > .file:after {
        content: '';
        clear: both;
        display: block;
        width: 0;
        height: 0; }
  filemanager .input {
    height: 60px;
    position: absolute;
    bottom: 0; }
    filemanager .input input {
      display: none; }
    filemanager .input .upload {
      display: block;
      background-color: #333;
      color: #fff;
      width: 260px;
      height: 50px;
      line-height: 50px;
      font-size: 20px;
      text-align: center;
      cursor: pointer;
      vertical-align: middle;
      -moz-transition: all, 300ms, ease-in;
      -ms-transition: all, 300ms, ease-in;
      -webkit-transition: all, 300ms, ease-in;
      transition: all, 300ms, ease-in; }
      filemanager .input .upload:hover {
        background-color: #444; }

properties {
  position: absolute;
  display: block;
  width: 300px;
  right: 0;
  top: 60px;
  padding: 20px;
  bottom: 50%;
  background-color: #eee; }
  properties ul {
    list-style: none; }
    properties ul li {
      position: relative;
      margin-bottom: 5px; }
      properties ul li > label {
        width: 100px;
        display: inline-block;
        font-size: 12px; }
      properties ul li input {
        background-color: #fff;
        border: 1px solid #555;
        padding: 5px;
        width: 150px; }
        properties ul li input + div {
          display: none !important; }
        properties ul li input.focus + div {
          display: block !important;
          position: absolute;
          width: 380px;
          right: 20px;
          z-index: 100;
          top: 40px;
          margin: 0; }
      properties ul li input[disabled] {
        background-color: #eee; }

toolkit {
  display: block;
  position: absolute;
  top: 60px;
  left: 0;
  width: 60px;
  bottom: 0;
  padding: 10px;
  background-color: #eee;
  z-index: 5; }
  toolkit img {
    width: 40px;
    height: 40px; }
  toolkit seperator {
    display: block;
    width: 40px;
    margin-top: 5px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px; }

toolbar {
  position: absolute;
  display: block;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  background-color: #eee;
  padding: 10px; }
  toolbar .button {
    display: block;
    min-width: 32px;
    height: 32px;
    float: left;
    text-align: center;
    line-height: 32px;
    font-size: 24px;
    margin: 3px 5px;
    position: relative;
    border-radius: 2px; }
    toolbar .button .label {
      display: block;
      font-size: 10px;
      line-height: 10px; }
    toolbar .button select {
      min-width: 50px;
      vertical-align: middle; }
    toolbar .button[data-checked="true"] {
      background-color: #f5f5f5;
      box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.5); }
    toolbar .button.action[data-checked="true"] {
      color: #000;
      box-shadow: none;
      background-color: #eee; }
    toolbar .button.action[data-checked="false"] {
      color: #ccc; }
  toolbar seperator {
    height: 100%;
    float: left;
    background-color: #ccc;
    width: 1px;
    margin-left: 10px;
    margin-right: 10px; }
  toolbar:after {
    content: '';
    display: block;
    clear: both;
    width: 0;
    height: 0; }

popup {
  z-index: 10000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: block; }
  popup .popup-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7); }
  popup .popup {
    position: relative;
    width: 80%;
    max-width: 640px;
    margin: 150px auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6); }
    popup .popup .title {
      text-align: center;
      font-size: 24px; }
    popup .popup .field {
      padding-top: 10px; }
      popup .popup .field input {
        width: 100%;
        line-height: 30px;
        height: 30px;
        font-size: 16px; }
    popup .popup .buttons {
      display: block;
      text-align: right;
      padding-top: 20px; }
      popup .popup .buttons .button {
        padding: 5px 10px;
        border-radius: 3px;
        border-width: 1px;
        margin-left: 5px;
        border-style: solid;
        border-color: #ccc;
        display: inline-block;
        cursor: default;
        color: #ccc; }
        popup .popup .buttons .button.good {
          border-color: #2c2;
          color: #2c2;
          cursor: pointer; }
        popup .popup .buttons .button.bad {
          border-color: #c22;
          color: #c22;
          cursor: pointer; }

dialogwindow {
  z-index: 10000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: block; }
  dialogwindow .dialog-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7); }
  dialogwindow .dialog {
    position: relative;
    width: 90%;
    max-width: 940px;
    margin: 150px auto;
    padding: 60px 20px 20px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6); }
    dialogwindow .dialog .title {
      text-align: center;
      font-size: 14px;
      text-transform: uppercase;
      position: absolute;
      left: 20px;
      top: 20px; }
    dialogwindow .dialog .field {
      padding-top: 10px; }
      dialogwindow .dialog .field input {
        width: 100%;
        line-height: 30px;
        height: 30px;
        font-size: 16px; }
    dialogwindow .dialog .templates .items .item {
      width: 32%;
      margin-right: 2%;
      margin-bottom: 20px;
      float: left;
      border: 1px solid #ccc;
      text-align: center; }
      dialogwindow .dialog .templates .items .item:nth-child(3n) {
        margin-right: 0; }
      dialogwindow .dialog .templates .items .item.selected {
        border: 4px solid #ccc; }
        dialogwindow .dialog .templates .items .item.selected span {
          border-top: 4px solid #ccc; }
      dialogwindow .dialog .templates .items .item img {
        max-height: 200px;
        width: auto;
        margin: 0 auto; }
      dialogwindow .dialog .templates .items .item span {
        width: 100%;
        display: block;
        text-align: center;
        padding: 10px;
        border-top: 1px solid #ccc; }
    dialogwindow .dialog .templates .items:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      clear: both; }
    dialogwindow .dialog .buttons {
      display: block;
      text-align: right;
      padding-top: 20px; }
      dialogwindow .dialog .buttons .button {
        padding: 5px 10px;
        border-radius: 3px;
        border-width: 1px;
        margin-left: 5px;
        border-style: solid;
        border-color: #ccc;
        display: inline-block;
        cursor: default;
        color: #ccc; }
        dialogwindow .dialog .buttons .button.good {
          border-color: #2c2;
          color: #2c2;
          cursor: pointer; }
        dialogwindow .dialog .buttons .button.bad {
          border-color: #c22;
          color: #c22;
          cursor: pointer; }

        div.templates {
          max-height: 300px;
          overflow: auto;
        }