<table style="width: 600px;" cellspacing="0" cellpadding="0" border="0">
	<tr>
		<td width="300" valign="top" style="margin: 0; padding: 0; background: #ffffff; color: #000000" class="content"><div class="slot" data-empty="{t(slot)}"></div></td>
		<td width="300" valign="top" style="margin: 0; padding: 0; background: #ffffff; color: #000000" class="content"><div class="slot" data-empty="{t(slot)}"></div></td>
	</tr>
</table>