dialogwindow {
    z-index: 10000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    display: block;
    .dialog-bg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(255,255,255,0.7);
    }
    .dialog {
        position: relative;
        width: 90%;
        max-width: 940px;
        margin: 150px auto;
        padding:60px 20px 20px;
        background-color: #fff;
        box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
        .title {
            text-align: center;
            font-size: 14px;
            text-transform:  uppercase;
            position: absolute;
            left: 20px;
            top: 20px;
        }
        .field {
            padding-top: 10px;
            input {
                width: 100%;
                line-height: 30px;
                height: 30px;
                font-size: 16px;
            }
        }
        .templates {
            .items {
                .item {
                    width: 32%;
                    margin-right: 2%;
                    margin-bottom: 20px;
                    float: left;
                    border: 1px solid #ccc;
                    text-align: center;
                    &:nth-child(3n) {
                        margin-right: 0;
                    }
                    &.selected {
                        border: 4px solid #ccc;
                        span {
                            border-top: 4px solid #ccc;
                        }
                    }
                    img {
                        max-height: 200px;
                        width: auto;
                        margin: 0 auto;
                    }
                    span {
                        width: 100%;
                        display: block;
                        text-align: center;
                        padding: 10px;
                        border-top: 1px solid #ccc;
                    }
                }
                &:after {
                    content: '';
                    display: block;
                    width: 0;
                    height: 0;
                    clear: both;
                }
            }
        }
        .buttons {
            display: block;
            text-align: right;
            padding-top: 20px;
            .button {
                padding: 5px 10px;
                border-radius: 3px;
                border-width: 1px;
                margin-left: 5px;
                border-style: solid;
                border-color: #ccc;
                display: inline-block;
                cursor: default;
                color: #ccc;
                &.good {
                    border-color: #2c2;
                    color: #2c2;
                    cursor: pointer;
                }
                &.bad {
                    border-color: #c22;
                    color: #c22;
                    cursor: pointer;
                }
            }
        }
    }
}