editor {
	display: block;
	position: absolute;
	left: 60px;
	right: 300px;
	top: 60px;
	bottom: 0;
	overflow: scroll;
	background-color: #fff;
	@include box-shadow(inset rgba(155,155,155, 0.2) 0 0 5px 3px);
	& > table {
		margin-top: 40px;
		margin-left: auto;
		margin-right: auto;
		.placeholder {
			color: transparent;
			text-align: center;
			height: 20px;
			@include user-select(none);
		}
		& > tbody > tr > td {
			position: relative;
			&:hover > .remove {
				cursor: pointer;
				height: 32px;
				width: 32px;
				right: -32px;
				top: 0px;
				position: absolute;
				background-image: url(../../editor/icons/remove.png);
				:root & {
					background-image: url(../../editor/icons/remove.svg);
				}
			}
		} 
		td {
			&.hover {
				border-bottom: 2px solid #f00;
			}
			
		}
	}
	&.p150 {
		& > table {
		@include transform(scale(1.5));
		}
	}
}
td {
	.slot {
		text-align: inherit;
		&:empty {
			text-align: center;
			height: 100px;
			border: 1px solid #999;
			cursor: text;
			&:hover {
				z-index: 1;
				position: relative;
				@include box-shadow(rgba(81, 203, 238, 1) 0 0 5px 3px);
			}
			&:after {
				content: attr(data-empty);
				line-height: 100px;
				font-size: 20px;
			}
		}
		&.hover {
			z-index: 1;
			position: relative;
			cursor: default;
			border: 2px dashed #0c0;
			img {
				max-width: 100%;
			}
		}
	}
	.slot[data-slot="textarea"] {
		& > :hover, & > :focus {
			@include box-shadow(rgba(81, 203, 238, 1) 0 0 5px 3px);
		}
	}
	.slot[data-slot="image"] {
		position: relative;
		&:hover {
			.remove {
				cursor: pointer;
				height: 32px;
				width: 32px;
				right: 10px;
				top: 10px;
				position: absolute;
				background-image: url(../../editor/icons/remove.png);
				:root & {
					background-image: url(../../editor/icons/remove.svg);
				}
			}
		}
	}
}