$file-colors: (
	"FF3636": ("pdf"),
	"368AFF": ("doc", "docx"),
	"2C9D21": ("xls", "csv", "xlsx"),
	"9D2121": ("ppt", "pptx"),
	"21729D": ("mp3", "wav", "ogg", "flac", "m4a"),
	"9736FF": ("mp4", "wmv", "mov", "avi", "mkv")
);
filemanager {
	position: absolute;
	display: block;
	width: 300px;
	right: 0;
	top: 50%;
	padding: 20px;
	bottom: 0;
	background-color: #eee;
	.title {
		font-size: 12px;
		text-transform: uppercase;
		display: block;
		font-weight: bold;
		margin-bottom: 10px;
	}
	.files {
		padding: 10px 20px;
		position: absolute;
		top: 40px;
		left: 0;
		right: 0;
		overflow-y: auto;
		bottom: 80px;
		&> .file {
			cursor: -webkit-grab;
			cursor: grab;
			margin-bottom: 20px;
			position: relative;
			.file-icon {
				float: left;
				width: 60px;
				height: 60px;
				position: relative;
				background-color: #FFBC36;
				@each $color, $exts in $file-colors {
					@each $ext in $exts {
						&[data-filetype="#{$ext}"] {
							&,
							& div:before {
								background-color: unquote('#' + $color);
							}
						}
					}
				}
				div {
					margin: 0 auto;
					top: 8px;
					position: relative;
					height: 40px;
					width: 30px;
					border: 2px solid #fff;
					color: #fff;
					font-size: 8px;
					font-weight: bold;
					text-transform: uppercase;
					line-height: 50px;
					text-align: center;
					&:before {
						position: absolute;
						top: -5px;
						right: -5px;
						background-color: #FFBC36;
						content: '';
						width: 10px;
						height: 10px;
					}
					&:after {
						content: '';
						position: absolute;
						top: -2px;
						right: -2px;
						border: 4px solid transparent;
						border-bottom: 4px solid #fff;
						border-left: 4px solid #fff;
						width: 0;
					}
				}
				
			}
			.image {
				float: left;
				width: 60px;
				height: 60px;
				overflow: hidden;
				position: relative;
				&.portrait {
					width: 100%;
					height: auto;
				}
				img {
					position: absolute;
					left: 50%;
					top: 50%;
					width: auto;
					height: 100%;
					-webkit-transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
				}
			}
			.file-info {
				float: left;
				width: 140px;
				margin-left: 10px;
				padding-top: 10px;
				[data-name="name"] {
					overflow: hidden;
					display: inline-block;
					width: 100%;
					text-overflow: ellipsis;
					white-space: nowrap;
					font-size: 12px;
				}
				[data-name="size"] {
					font-size: 10px;
				}
			}
			.file-actions {
				cursor: pointer;
				position: absolute;
				right: 0px;
				top: 12px;
				font-size: 20px;
			}
			&:after {
				content: '';
				clear: both;
				display: block;
				width: 0;
				height: 0;
			}
		}
	}
	.input {
		height: 60px;
		position: absolute;
		bottom: 0;
		input {
			display: none;
		}
		.upload {
			display: block;
			background-color: #333;
			color: #fff;
			width: 260px;
			height: 50px;
			line-height: 50px;
			font-size: 20px;
			text-align: center;
			cursor: pointer;
			vertical-align: middle;
			@include transition(all, 300ms, ease-in);
			&:hover {
				background-color: #444;
			}
		}
	}
}