popup {
    z-index: 10000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    display: block;
    .popup-bg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(255,255,255,0.7);
    }
    .popup {
        position: relative;
        width: 80%;
        max-width: 640px;
        margin: 150px auto;
        padding: 40px;
        background-color: #fff;
        box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
        .title {
            text-align: center;
            font-size: 24px;
        }
        .field {
            padding-top: 10px;
            input {
                width: 100%;
                line-height: 30px;
                height: 30px;
                font-size: 16px;
            }
        }
        .buttons {
            display: block;
            text-align: right;
            padding-top: 20px;
            .button {
                padding: 5px 10px;
                border-radius: 3px;
                border-width: 1px;
                margin-left: 5px;
                border-style: solid;
                border-color: #ccc;
                display: inline-block;
                cursor: default;
                color: #ccc;
                &.good {
                    border-color: #2c2;
                    color: #2c2;
                    cursor: pointer;
                }
                &.bad {
                    border-color: #c22;
                    color: #c22;
                    cursor: pointer;
                }
            }
        }
    }
}