properties {
	position: absolute;
	display: block;
	width: 300px;
	right: 0;
	top: 60px;
	padding: 20px;
	bottom: 50%;
	background-color: #eee;
	ul {
		list-style: none;
		li {
			& > label {
				width: 100px;
				display: inline-block;
				font-size: 12px;
			}
			input {
				background-color: #fff;
				border: 1px solid #555;
				padding: 5px;
				width: 150px;
				& + div {
					display: none !important;
				}
				&.focus + div {
					display: block !important;
					position: absolute;
					width: 380px;
    				right: 20px;
					z-index: 100;
					top: 40px;
					margin: 0;
				}
			}
			input[disabled] {
				background-color: #eee;
				
			}
			position: relative;
			margin-bottom: 5px;
		}
	}
}
