toolkit {
	display: block;
	position: absolute;
	top: 60px;
	left: 0;
	width: 60px;
	bottom: 0;
	padding: 10px;
	background-color: #eee;
	z-index: 5;
	img {
		width: 40px;
		height: 40px;
	}
	seperator {
		display: block;
		width: 40px;
		margin-top: 5px;
		border-bottom: 1px solid #ccc;
		margin-bottom: 5px;
	}
}