toolbar {
	position: absolute;
	display: block;
	height: 60px;
	top: 0;
	left: 0;
	right: 0;
	background-color: #eee;
	padding: 10px;
	.button {
		display: block;
	    min-width: 32px;
	    height: 32px;
	    float: left;
	    text-align: center;
	    line-height: 32px;
	    font-size: 24px;
	    margin: 3px 5px;
		position: relative;
		border-radius: 2px;
		.label {
			display: block;
			font-size: 10px;
			line-height: 10px;
		}
		select {
			min-width: 50px;
			vertical-align: middle;
		}
		&[data-checked="true"] {
			background-color: #f5f5f5;
			box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.5);
		}
		&.action[data-checked="true"] {
			color: #000;
			box-shadow: none;
    		background-color: #eee;
		}
		&.action[data-checked="false"] {
			color: #ccc;
		}
	}
	seperator {
		height: 100%;
		float: left;
		background-color: #ccc;
		width: 1px;
		margin-left: 10px;
		margin-right: 10px;
	}
	&:after {
		content: '';
		display: block;
		clear: both;
		width: 0;
		height: 0;
	}
}