@mixin box-sizing($val) {
	-webkit-box-sizing: $val;
	-moz-box-sizing: 	$val;
	box-sizing: 		$val;
}
@mixin box-shadow($val) {
	-webkit-box-shadow: $val;
	-moz-box-shadow: 	$val;
	box-shadow: 		$val;
}
@mixin user-select($val) {
	-moz-user-select: 		$val;
	-webkit-user-select: 	$val;
	-ms-user-select: 		$val;
	user-select: 			$val;
}
@mixin transition($transition...) {
    -moz-transition:    $transition;
    -ms-transition:     $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
@mixin transform($transform...) {
	-webkit-transform: $transform;
	-moz-transform: $transform;
	-ms-transform: $transform;
	transform: $transform;
}
@import "_application";
@import "_editor";
@import "_draggable";
@import "_filemanager";
@import "_properties";
@import "_toolkit";
@import "_toolbar";
@import "_popup";
@import "_dialog";